Repository uiowahjmjohnsonselt2024/projectdirectory-selt_2024_team_007, pull requests merged in 2024-11, with the labels that each got.

#83 Improve Profile Dropdown and Navigation Features
  app/assets/stylesheets/application.scss
  app/controllers/friends_controller.rb
  app/controllers/sessions_controller.rb
  app/controllers/settings_controller.rb
  app/javascript/application.js
  app/views/friends/index.html.haml
  app/views/landing/index.html.haml
  app/views/layouts/application.html.haml
  app/views/settings/settings.html.haml
  config/routes.rb
  features/dropdown_menu.feature
  features/friends_page.feature
  features/login_redirection.feature
  features/settings_page.feature
  features/step_definitions/dropdown_steps.rb
  features/step_definitions/navigation_steps.rb
  features/support/paths.rb
  package.json
Labels: Feature: Landing Page

#94 Add Username Update and Profile Picture Upload Features
  app/assets/stylesheets/application.scss
  app/controllers/settings_controller.rb
  app/controllers/users_controller.rb
  app/models/user.rb
  app/views/settings/settings.html.haml
  app/views/shared/_navigation.html.haml
  config/routes.rb
  db/schema.rb
  features/change_email.feature
  features/change_name.feature
  features/change_pfp.feature
  features/step_definitions/change_email_steps.rb
  features/step_definitions/change_name_steps.rb
  features/step_definitions/change_pfp_steps.rb
  features/step_definitions/web_steps.rb
  spec/controllers/settings_controller_spec.rb
Labels: Feature: User Profile Page

#95 Updated the Game Page
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/application.scss
  app/models/game.rb
  app/views/games/_map.html.haml
  app/views/games/map.js.erb
  app/views/games/new.html.haml
  app/views/games/show.html.haml
  app/views/landing/index.html.haml
  app/views/layouts/application.html.haml
  features/player_name.feature
  features/step_definitions/join_game_steps.rb
Labels: Feature: Game Page (GPT and Gameplay and Images))

#96 Implemented Adding Friends to Game Feature
  app/assets/stylesheets/application.scss
  app/controllers/games_controller.rb
  app/controllers/landing_controller.rb
  app/models/game.rb
  app/models/game_user.rb
  app/views/landing/index.html.haml
  config/routes.rb
  coverage/.last_run.json
  coverage/.resultset.json
  coverage/index.html
  features/invite_friends.feature
  features/step_definitions/invite_friends_steps.rb
  features/step_definitions/web_steps.rb
  spec/controllers/games_controller_spec.rb
Labels: Feature: Landing Page
